<label>发表微博</label>
<textarea class="form-control" name="post" id="postTextArea" rows="4" style="text-align:justify;"></textarea>
<button type="submit" id="postSubmit" class="btn btn-success"  style="float:right;"></i>发言</button>